.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("./assets/2637581\ \(1\).jpg");
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1.5px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: 2px solid white;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff; 
}

button:hover{
  background-color: white;
  color: black;
}

.link-btn {
  border: 0px;
  background: none;
  color: white;
  text-decoration: underline;
  margin-top: 20px;
}
